.square {
  border-radius: 0px;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(to right, #ff0000, #ff9900);
  color: #fff;
}

.lo-btn {
  margin-left: auto;
  float: right;
}

.btn-instructor {
  float: left;
}

.XButton {
  background-color: red;
  color: white;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  margin-left: 22px;
  margin-top: -7px;
}
.pointer {
  cursor: pointer;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
